<% Object.keys(attributes).forEach(function(attr) { -%>

    <a class="botler-attribute" title="<%= attributes[attr].description %>" onclick="appendMacroToReply('<%= attr %>')">
        <span class="aui-lozenge aui-lozenge-subtle"><%= attributes[attr].friendlyName %></span>
    </a>

<% }) -%>