{{!< layout}}

<!-- The dialog has a primary action "say hello", declared in the descriptor atlassian-connect.json -->
<!-- It is implemented in the js/addon.js file imported in the layout -->

<script src="/js/botler.js"></script>

<div class="aui-dialog2-content">
    <div id="aui-message-bar"></div>
    <form class="aui" id="new-botler-service">
        <input type="hidden" id="id" name="id" value="">
        <div class="field-group">
            <label for="name">Service Name <span class="aui-icon icon-required">(required)</span></label>
            <input class="text long-field" type="text"
                   id="name" name="name" placeholder="This is not greatest service in the world. This is just a tribute.">
            <div class="description">Give it a nice and meaningful name.</div>
        </div>
        <div class="field-group">
            <label for="event">Event</label>
            <select id="event" name="event" class="long-field">
                {{#each events}}
                    <option value="{{@key}}">{{this.friendlyName}}</option>
                {{/each}}
            </select>
            <div class="description">What event should Botler look out for?</div>
        </div>
        <div class="field-group" id="event-params">
            <label for="pattern">Message Pattern <span class="aui-icon icon-required">(required)</span></label>
            <input class="text long-field" type="text"
                   id="pattern" name="pattern" placeholder="/slashcommand">
            <div class="description">
                What words should Botler look for before triggering the action. <br>
                You can use REGEX, e.g. ^/regex|test, matching emoticons? try \(rip\)\B
            </div>
        </div>
        <div class="field-group">
            <label for="reply">Reply</label>
            <textarea class="textarea long-field" name="reply" id="reply" placeholder="Khanh is awesome!"></textarea>
            <div id="botler-attributes"></div>
            <div class="description">
                What do you want Botler to say when this happens? <br>
                For captured/matched terms from your REGEX, use \{{$1}}, \{{$2}}.. \{{$n}}.
            </div>
        </div>
        <div class="field-group">
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="replyHtml" id="replyHtml">
                <label for="replyHtml">HTML</label>
            </div>
            <div class="description">Do you want HTML to be encoded?</div>
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="notify" id="notify">
                <label for="notify">Notify</label>
            </div>
            <div class="description">Do you want Botler to notify everyone in the room?</div>
        </div>
        <div class="field-group">
            <div class="checkbox">
                <input class="checkbox" type="checkbox" name="enable" id="enable" checked>
                <label for="enable">Enabled</label>
            </div>
            <div class="description">Turn this service on?</div>
        </div>
    </form>
</div>
