<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{name}}</title>
    <link rel="shortcut icon" type="image/png" href="/img/botler_icon.svg">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.6/css/aui.min.css" media="all">
    <link rel="stylesheet" href="{{furl '/css/homepage.css'}}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.6/js/aui.min.js"></script>
  </head>

  <body id="aui-flatpack" class="aui-page-fixed">
    <section id="content" role="main">
      <header class="aui-page-header">
        <div class="aui-page-header-inner">
          <div class="aui-page-header-main intro-header">
            <div class="aui-group">
              <div class="aui-item addon-logo">
                <img src="/img/botler_icon.svg" alt="{{name}}">

                <div>
                  <a href="https://www.hipchat.com/addons/install?url={{links.self}}" class="aui-button aui-button-primary"
                     title="Install this add-on in HipChat"><span
                      class="aui-icon aui-icon-small aui-iconfont-hipchat"></span>
                    Add to HipChat</a>
                </div>
              </div>
              <div class="aui-item">
                <h1>
                  {{name}}
                  <small class="vendor">By <a href="{{vendor.url}}">{{vendor.name}}</a></small>
                </h1>
                <p class="subtitle">
                  {{description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="aui-page-panel addon-intro-page">
        <div class="aui-page-panel-inner">
          <section class="aui-page-panel-item">
            <div class="aui-group">
              <div class="aui-item" style="width:66%;">                
                <p style="margin-top:60px;">HipChat bots are fun, annoying and useful little things that make our chatrooms more than just regular chatrooms. The process of making a HipChat bot is quite simple with BYO, the HipChat REST API, and HipChat Connect, that is, <strong>if you're a developer</strong>. What about all the non-technical HipChatters out there?</p>

                <p>Enter Botler, your very own bot butler.</p>
              </div>
              <div class="aui-item" style="width:33%;">
                <img src="/img/botler.svg"/>
              </div>
            </div>
            <div class="aui-group">
              <div class="aui-item" style="width:66%;">                
                <img src="/img/screenshot-1.png" style="width:100%;"/>
              </div>
              <div class="aui-item" style="width:33%;">
                <p style="margin-top:120px;">
                Yo dawg, I heard you liked HipChat bots, so we're letting make HipChat bots with this HipChat bot. 
                <img src="/img/yodawg.png" style="width:30px;"/>
                </p>
              </div>
            </div>
            <div class="aui-group">              
              <div class="aui-item" style="width:33%;">
                <p style="margin-top:50px;">
                  Create new "room services" with a classic form in popup dialog. Just select what events and terms you want Botler to listen to and then enter what you want Botler to say whent that happens.                
                </p>                
                <p >
                  For you advanced users, you can use regular expression for smarter phrase detection and even use captured terms in your replies.
                </p>
                <p >
                  By default, Botler's replies will be rendered just like your normal messages, which means that your @mentions and emoticons will appear as expected. You can opt-in to use HTML rendering instead if you're a fancy hypertext wizard.
                </p>
              </div>
              <div class="aui-item" style="width:66%;">                
                <img src="/img/screenshot-2.png" style="width:100%;"/>                
              </div>
            </div>
            <div class="aui-group">
              <div class="aui-item" style="width:66%;">                
                <img src="/img/screenshot-3.png" style="width:100%;"/>                
              </div>
              <div class="aui-item" style="width:33%;">
                <p style="margin-top:15px;">
                  Here's an example of a "let me Google that for you" service, which listens for "what is _____" in your HipChat room and replies with a link to the Google search of the term.
                </p>
                <p style="margin-top:10px;">
                  There you have it, a quick and easy bot in a bot. It's quite magical isn't it? <img src="/img/magic.gif" style="width:30px;"/>
                </p>
              </div>
            </div>
            <div class="aui-group">
              <div class="aui-item">
              <hr>
              <h1>Testimonials</h1>
              </div>
            </div>
            <div class="aui-group">              
              <div class="aui-item" style="width:10%;">
                <img src="/img/paul.png" style="width:90%;border-radius:50%;">
              </div>
              <div class="aui-item" style="width:90%;">
                <blockquote>
                  <p>I had a happy life. Now I spent all my time trying to come up with Botler commands someone might notice and find funny at least one time before it gets deleted.</p>
                  <cite>Paul Thompson, Docker God, Atlassian</cite>
                </blockquote>
              </div>              
            </div>
            <div class="aui-group">              
              <div class="aui-item" style="width:10%;">
                <img src="/img/sami.png" style="width:90%;border-radius:50%;">
              </div>
              <div class="aui-item" style="width:90%;">
                <blockquote>
                  <p>Thanks to Botler, I realised that I'm awful at regex.</p>
                  <cite>Sami Peachey, Room Admin, Atlassian</cite>
                </blockquote>
              </div>              
            </div>
            <div class="aui-group">              
              <div class="aui-item" style="width:10%;">
                <img src="/img/saxon.png" style="width:90%;border-radius:50%;">
              </div>
              <div class="aui-item" style="width:90%;">
                <blockquote>
                  <p>Saved my life. 9/10</p>
                  <cite>Saxon Bruce, New Zealander, Atlassian</cite>
                </blockquote>
              </div>              
            </div>
            <div class="aui-group">              
              <div class="aui-item" style="width:10%;">
                <img src="/img/alec.png" style="width:90%;border-radius:50%;">
              </div>
              <div class="aui-item" style="width:90%;">
                <blockquote>
                  <p>Increased my memeficiency by 1000%.</p>
                  <cite>Alec Posney, Uses Linux, Atlassian</cite>
                </blockquote>
              </div>              
            </div>
            <div class="aui-group">              
              <div class="aui-item" style="width:10%;">
                <img src="/img/henry.png" style="width:90%;border-radius:50%;">
              </div>
              <div class="aui-item" style="width:90%;">
                <blockquote>
                  <p>Without Botler I'd never have found out which of my colleagues are shitlords.</p>
                  <cite>Henry Barnett, In a relationship with Maven (it's complicated), Atlassian</cite>
                </blockquote>
              </div>              
            </div>            
          </section>
        </div>
        <footer id="footer" role="contentinfo">
          <section class="footer-body">
            <ul id="aui-footer-list">
              <li><a href="https://hipchat.com">HipChat</a></li>
              <li><a href="https://developer.atlassian.com/hipchat">Developers</a></li>
              <li>Copyright © 2016 Atlassian</li>
            </ul>
            <div id="footer-logo"><a href="http://www.atlassian.com/">Atlassian</a></div>
          </section>
        </footer>
      </div>
    </section>
  </body>

</html>