<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>

    <!-- The Atlassian User Interface library -->
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.17/css/aui.css" media="all">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.17/js/aui.min.js"></script>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.17/css/aui-experimental.min.css" media="all">
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.17/js/aui-experimental.min.js"></script>

    <!-- Add-on specific CSS -->
    <link rel="stylesheet" href="/css/addon.css" type="text/css"/>

    <!--The HipChat Javascript API -->
    <script src="https://www.hipchat.com/atlassian-connect/all.js"></script>

    <!-- Add-on Javascript functions -->
    <script src="/js/addon.js"></script>
  </head>
  <body class="{{hipChatTheme}}">
    <section id="content" role="main" class="ac-content">
      {{{body}}}
    </section>
  </body>
</html>
