<form>
    <div class="field-group">
        <label for="reply">Reply</label>
        <textarea class="textarea long-field" name="reply" id="reply" placeholder="Khanh is awesome!"></textarea>
        <div class="botler-mask" style="z-index: 2; background-color: #2aa198;"></div>
        <div class="description">What do you want Botler to say when this happens?</div>
    </div>
</form>