/* add-on styles */
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}

body {
  /*height:100%;*/
  /*background-color: white;*/
}

#botler-services {
  margin: 0 10px 58px 10px;  
  overflow-y: auto;  
}

.botler-service-tile {
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-sizing: border-box;    
  margin-top: 10px;
  padding: 10px;  
  width: 100%;
  z-index:0;  
}

body.dark .botler-service-tile {
  background-color: #1e252b;
  border-color: #0e0f0f;
  color: #aaaaaa;
}

.botler-service-img {
  border-radius: 50%;
  max-height: 25px;    
  margin-right: 10px;  
}

.botler-dead {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.botler-service-info {
  vertical-align: super;
}

.botler-service-usermention {
  display: inline-block;
  background: #f5f5f5;
  padding: 0 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 16px;
  white-space: nowrap;
}

.botler-service-details {
  font-size: 11px;
}

body.dark .botler-service-details {
  background-color: #1e252b;
  border-color: #0e0f0f;
  color: #aaaaaa;
}

body.dark .botler-service-details table.aui > tbody > tr {
  background-color: #1e252b;
  border-color: #0e0f0f;
  color: #aaaaaa;
}

.sidebar {
  background-color: #f5f5f5;
}

body.dark, .dark .sidebar {
  background-color: #333940;
}

.sidebar .entity {
  margin: 5px;
}

.botler-attribute {
  cursor: pointer;
}

#botler-button-wrapper {  
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border-top: solid 1px #cccccc;
  border-right: 1px solid #cccccc;
  box-sizing: border-box;
  min-height: 47px;
  z-index:999; 
}

.dark #botler-button-wrapper {    
  background-color: #1e252b;
  border-top: solid 1px #0e0f0f;
  border-right: 1px solid #0e0f0f;  
}

.botler-on {
  color: #14892c;
}

.botler-off {
  color: #d04437;
}

.text-center {
  text-align: center;
}

#botler-sidebar-empty {
  padding-top: 50px;
}

#botler-sidebar-empty img {
  width: 80%;
  max-width: 250px;
}

#botler-empty-add-new-service {
  margin-top: 15px;
}




